body{
    background-color:rgb(32, 60, 61);
}


.Title{
    font-family: 'Zapfino', sans-serif;
    color: white;
    font-size: 150%;
    text-align:center;  
    cursor: pointer;
    text-decoration: none
}

.term{   
    border: solid 0px white;
    background-color: rgb(16, 20, 26);
    border-radius: 10px;
    margin:auto;
    margin-top:-1em;
    text-align:center;
    width:60%;
    font-family: 'Andika', sans-serif;
    font-size: 500%;
    color: white;
}

.pinyin{   
    border: solid 0px white;
    border-radius: 10px;
    text-align:center;
    font-size: 200%;
    margin-top:-2.5em;
    width:100%;
    font-family: 'Arial', sans-serif;
    color:white;
}

.english{   
    border: solid 0px white;
    border-radius: 10px;
    text-align:center;
    font-size: 100%;
    margin-top:-1.75em;
    margin-bottom: 0%;
    width:100%;
    font-family: 'Andika', sans-serif;
    color:white;
}


.pinyinButton{
    text-align: center;
    margin-top: -0.05em;
    position: static;
}

.definitionButton{
    text-align: center;
    margin-top: -0.05em;
    position: static;
}

.nextButton{
    text-align: center;
    margin-top: -0.05em;
    position: static;
} 

.pauseButton{
    position:absolute;
    width: 40%;
    margin-left: 27.5%;
    text-align: center;
    bottom:14%;
} 

.resumeButton{
    position:absolute;
    width: 40%;
    margin-left: 27.5%;
    text-align: center;
    bottom:14%;
} 

button:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.autoprogressButton{
    position:absolute;
    width: 40%;
    margin-left: 14.8%;
    text-align: center;
    bottom:5%;
} 

.rate{   
    position:absolute;
    bottom:3.7em;
    margin:auto;
    text-align:center;
    width:97%;
    font-family: 'Andika', sans-serif;
    font-size: 100%;
    color: white;
    visibility:hidden
}

.slider{
    position:absolute;
    bottom:2em;
    -webkit-appearance: none;
    width: 80%;
    left: 9%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }