body{
    background-color:rgb(32, 60, 61);
}


.Title{
    font-family: 'Zapfino', sans-serif;
    color: white;
    font-size: 150%;
    text-align:center;  
    cursor: pointer;
    text-decoration: none
}

.dropdown{
    text-align:center;
    margin-top:-1em;
    opacity: 0.8;
}

.term{   
    background-color: rgba(16, 20, 26, 0.844);
    border-radius: 10px;
    margin:auto;
    margin-top:-1em;
    text-align:center;
    width:80%;
    font-family: 'Andika', sans-serif;
    font-size: 500%;
    color: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.pinyin{   
    border-radius: 10px;
    text-align:center;
    font-size: 200%;
    margin-top:-2.5em;
    width:100%;
    font-family: 'Arial', sans-serif;
    color:white;
}

.english{   
    border: solid 0px white;
    text-align:center;
    font-size: 100%;
    margin-top:-1.75em;
    margin-bottom: 0%;
    width:100%;
    font-family: 'Andika', sans-serif;
    color:white;
}

.pinyinButton{
    text-align: center;
    margin-top: -0.05em;
    position: static;
}

.definitionButton{
    text-align: center;
    margin-top: -0.05em;
    position: static;
}

.nextButton{
    text-align: center;
    margin-top: -0.05em;
    position: static;
} 

button:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

